<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.structure.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.theme.min.css' />
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery-ui.js"></script>
    <script src="javascripts/echarts.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="main" style="width: 800px;height:600px;"></div>

    <div id="first">
        <form action="/upload" method="post" enctype="multipart/form-data">
           <h2>单图上传</h2>
           <input type="file" name="logo">
           <input id="date" type="submit" value="提交">
        </form>
    </div>
    <div id="d">
    </div>
    <div id="fn">
      名称
    </div>
    <div id="show">
      
    </div>
    <button id="b" type="button">file</button>
    <button onclick="showBar()">Show Radar Charts</button>
    <input type="text" id="SupplierID" value=""/>
    <select>
       <option value ="volvo">Volvo</option>
       <option value ="saab">Saab</option>
       <option value="opel">Opel</option>
      <option value="audi">Audi</option>
    </select>

    <script type="text/javascript">
 
    	$(function(){
    		$('#date').datepicker({
    			showButtonPanel: true
    		})
 
    	 $('#d').datepicker({onSelect:function(date,inst){
    	 	$.ajax({url:"/date",type:'post',data:date,success:function(){
    	 		alert('motherfucker')
    	 	}})
    	 }});
    	})

var hash=[];
/*
$(function(){
	$("#b").click(function(){
       $.get({url:"/2",async:false,success:function(responseText){
           	  $("#fn").html(responseText);
              alert(responseText);
              result = responseText;
              result = eval('('+result +')');
              $("#show").html(result);
             }});              
        });
})
*/
      function getData(url_temp){
        var xhr = new XMLHttpRequest();
        xhr.open("GET",url_temp,true);
        console.log("url_temp = " + url_temp);
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded"); 
        xhr.onreadystatechange = function(){
          console.log("You have entered onreadstate!")
          if (xhr.readyState===4) {
            if (xhr.status===200) {
              result = xhr.responseText;
              result = eval('('+result +')');
              
//              if (radar) {drawRadar(result);};
//              if (histo) {drawHistogram(result)};
              drawBar(result);
            };
          };
        }

        xhr.send(null);
      }

      function showBar(){
        //var url_temp = "http://audittoolbeta.mybluemix.net/get?q=project:\""+projectId + "\"" + "AND NOT finding:\"\"&group_field=area&limit=1";
        
        var url_temp="/2"
 //       var url_temp = "http://audittoolbeta.mybluemix.net/get?q=project:\"" + projectId + "\" AND NOT finding:\"\"&group_field=area&limit=1"
 //       histo = true;
 //       radar = false;
        //console.log("projectid = " + projectId);
        getData(url_temp);
        //drawHistogram();
      }

function drawBar(result){
         var data = result.data
        
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["Jan","Feb","Mar","Apr","May","Jun","July","Aug","Sep","Oct","Nov","Dec"]
            },
            yAxis: {},
            dataZoom: [
            {   // 这个dataZoom组件，默认控制x轴。
            type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
            start: 10,      // 左边在 10% 的位置。
            end: 60         // 右边在 60% 的位置。
            },
            {   // 这个dataZoom组件，也控制x轴。
            type: 'inside', // 这个 dataZoom 组件是 inside 型 dataZoom 组件
            start: 10,      // 左边在 10% 的位置。
            end: 60         // 右边在 60% 的位置。
            }
            ],
            series: [{
                name: '销量',
                type: 'bar',
                data: data
            }]


        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

}


    </script>
   <div id="show">
   	<button></button>
   </div> 
  </body>
</html>
