<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.structure.min.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.theme.min.css' />
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery-ui.js"></script>
    <script src="javascripts/echarts.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="main1"></div>
    <div id="first">
        <form action="/upload" method="post" enctype="multipart/form-data">
           <h2>单图上传</h2>
           <input type="file" name="logo">
           <input id="date" type="submit" value="提交">
        </form>
    </div>
    <div id="d">
    </div>
    <div id="fn">
      名称
    </div>
    <div id="show">
      
    </div>
    <button id="b" type="button">file</button>
    <button onclick="showBar()">Show Radar Charts</button>
    <script type="text/javascript">
 
    	$(function(){
    		$('#date').datepicker({
    			showButtonPanel: true
    		})
 
    	 $('#d').datepicker({onSelect:function(date,inst){
    	 	$.ajax({url:"/date",type:'post',data:date,success:function(){
    	 		alert('motherfucker')
    	 	}})
    	 }});
    	})

var hash=[];
$(function(){
	$("#b").click(function(){
       $.post({url:"/2",async:false,success:function(responseText){
           	  $("#fn").html(responseText);
              alert(responseText);
              result = responseText;
              result = eval('('+result +')');
              $("#show").html(result);
             }});              
        });
})




var myChart1 = echarts.init(document.getElementById('main1'));

      option1 = {
        title: {
              text: 'Technology Audit Findings Summary'
          },
          color: ['#3398DB'],
          tooltip : {
              trigger: 'axis',
              axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                  type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
              }
          },
          grid: {
              left: '3%',
              right: '4%',
              bottom: '30%',
              containLabel: true
          },
          xAxis : [
              {
                  type : 'category',
                  data: stdTName,
                  //data : ['MSD Control', 'Traceability', 'Component Preparation', 'Paste and Glue Application', 'Auto-Place and Auto-Insert', 'Reflow and Curing', 'Post-Reflow and Cure Inspection', 'Manual Insert', 'Wave Soldering', 'Post-Wave Inspection', 'PCA Cleaning', 'Press Fit and Heatsink', 'Test Process', 'Rework', 'Final QC Inspection', 'Development & Qualification', 'Quality Management System', 'External & Internal audit', 'NC & Maverick', 'SPC', 'Training & Certification', 'Document Control & PCN', 'Calibration & Maintenance', 'Material & Supplier', 'IQC & Warehouse', 'ESD Control', 'Ramp-Up & Disaster Recovery' ],
                  axisTick: {
                      alignWithLabel: true
                  },
                  axisLabel: {
                    interval: 0, //横轴信息全部显示
                    rotate: 90, //60度角倾斜
                  }
              }
          ],
          yAxis : [
              {
                  type : 'value'
              }
          ],
          series : [
              {
                  //name:'直接访问',
                  type:'bar',
                  barWidth: '60%',
                  data: resultTRatio,
                  //data:[7, 22, 16, 54, 42, 17, 24, 20, 23, 8, 14, 63, 49, 37, 15, 19, 14, 12, 27, 11, 18, 30, 16, 13, 35, 9, 13 ],
                  label: {
                    normal: {
                      show: true,
                      position: 'top'
                    }
                  }
              }
          ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart1.setOption(option1);  
    </script>
   <div id="show">
   	<button></button>
   </div> 
  </body>
</html>
